Package: naville.musicgamegeneralhack
Name: Music Games General Hack
Depends: mobilesubstrate
Version: 17.0.0
Architecture: iphoneos-arm
Description: By Naville。Smule全音乐游戏兼容，GrooveCoasterZero可修改Library目录下的Fake.xml来解锁不同曲目，每次最大200首Konami除Gitadora和Beat Gather韩国版外各版本各游戏兼容。CrossXBeats无限体力及全曲包全皮肤解锁,玩一首曲目绿票回满，解锁槽回满。TouchMix2全曲包解锁。在命令行中输入"/usr/bin/o2jamu.sh"来清除o2jamu存档并给予新的试玩票.Beat Gather的内购部分请关闭IAPFREE使用LocalIAP进行解锁，此游戏玩任意一首歌获得无限BG Points。曲目游玩评定，0为S++,该数值升高则评定下降,ClearRate【如需要87%，请修改成0.87】,修改音符判定【0位Flawless，1为Super，依此类推】。
Maintainer: Naville
Author: Naville
Section: Tweaks
